.forum-post-creator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom:1rem;
    position: fixed;
    left: 10px;
    bottom: 10px;
}