.app-container {
    height:170%;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background: aliceblue;
}

.forum-post-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}

body {
    overflow-x: hidden;
}