@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$mainColor: #00bfff;

.forumContainer {
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.loaderContainer {
  @extend .forumContainer;
}

.forumContainerHeader {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}

.forumContainerHeaderButton {
  height: 40%;
  width: 10rem;
  background: black;
  color: $mainColor;
  border: 1px solid $mainColor;
  cursor: pointer;
  outline: none;
  margin: 1rem;
  font-size: 12px;
}

.forumContainerHeaderButton:hover {
  background: $mainColor;
  color: black;
  border: 1px solid black;
}

.forumContainerPosts {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  padding-top:0;
  overflow-x: auto;
  overflow-y: auto;
}

.forumContainerPosts::-webkit-scrollbar {
  display: none;
}

.forumPost {
  border: 2px solid $mainColor;
  width: 95%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}

.forumPostTitle {
  color: $mainColor;
  text-align: center;
  margin: 1rem;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}

.forumPostCreationDate {
  color: $mainColor;
  text-align: center;
  margin: 1rem;
  margin-left: auto;
}

.forumPostAuthor {
  color: $mainColor;
  text-align: center;
  margin: 1rem;
}

.commentAmount {
  color: $mainColor;
  text-align: center;
  margin: 1rem;
  font-weight: bolder;
}

.zeroPostContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: column;
}

.zeroPostText {
  color: $mainColor;
  font-family: 'Press Start 2P';
  font-size: 60px;
}
